{% extends "base.html" %}

{% block title %}Teachers{% endblock %}

{% block content %}
    <h1>Teachers list</h1>

    <table style="border: 2px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black;">ID</th>
            <th style="border: 1px solid black;">First name</th>
            <th style="border: 1px solid black;">Last name</th>
            <th style="border: 1px solid black;">Patronymic</th>
            <th style="border: 1px solid black;">Birthday</th>
            <th style="border: 1px solid black;">Subject</th>
            <th style="border: 1px solid black;">Photo</th>
        </tr>
        {% for teacher in teachers_list %}
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">{{ teacher.id }}</td>
            <td style="border: 1px solid black;">{{ teacher.first_name }}</td>
            <td style="border: 1px solid black;">{{ teacher.last_name }}</td>
            <td style="border: 1px solid black;">{{ teacher.patronymic }}</td>
            <td style="border: 1px solid black;">{{ teacher.birthday }}</td>
            <td style="border: 1px solid black;">{{ teacher.subject }}</td>
            <td style="border: 1px solid black;"><img src="{{ teacher.photo }}" alt="{{ teacher.photo }}" height="100"></td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'create_teacher' %}">Create new teacher</a></p>
    <p><a href="{% url 'all_subjects' %}">Show all subjects</a></p>
    <p><a href="{% url 'create_subject' %}">Create new subject</a></p>
{% endblock %}