{% extends "base.html" %}

{% block title %}Subjects{% endblock %}

{% block content %}
    <h1>Subjects list</h1>

    <table style="border: 2px solid black; border-collapse: collapse;">
        <tr>
            <th style="border: 1px solid black;">ID</th>
            <th style="border: 1px solid black;">Name</th>
        </tr>
        {% for subject in subjects_list %}
        <tr style="border: 1px solid black;">
            <td style="border: 1px solid black;">{{ subject.id }}</td>
            <td style="border: 1px solid black;">{{ subject.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <p><a href="{% url 'create_subject' %}">Create new subject</a></p>
    <p><a href="{% url 'all_teachers' %}">Back to teachers page</a></p>
{% endblock %}