{% extends "base.html" %}
{% load static %}

{% block title %}Subjects{% endblock %}

{% block content %}

<div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
    <div style="display: flex; justify-content: space-between;">
        <h1>University subjects</h1>
        <div style="margin-top: auto; margin-bottom: auto;">
            <a href="{% url 'create_subject' %}" class="btn btn-outline-success" tabindex="-1" role="button" aria-disabled="true">
                Add new subject
            </a>
        </div>
    </div>

    <table class="table table-sm" style="width:80%">
        <tr>
            <th scope="col" style="border: 1px solid black;">ID</th>
            <th scope="col" style="border: 1px solid black; width:80%">Name</th>
        </tr>
        {% for subject in subjects_list %}
        <tr style="border: 1px solid black;">
            <td scope="row" style="border: 1px solid black;">{{ subject.id }}</td>
            <td style="border: 1px solid black;">{{ subject.name }}</td>


            <td style="border: 1px solid white;">
                <a href="{% url 'edit_subject' subject.id %}" class="btn btn-outline-secondary btn-sm" tabindex="-1" role="button" aria-disabled="true">
                    <img src="{% static 'icons/pencil-square.svg' %}" alt="edit" style="margin-bottom: 2px;">
                    Edit
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>


{% endblock %}