{% extends "base.html" %}

{% block title %}Subject edit{% endblock %}

{% block content %}
    <h1>Edit subject</h1>
    <form action="{% url 'edit_subject' form.instance.id %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" name="edit" value="Save subject"></p>
        <p><input type="submit" name="delete" value="Delete subject"></p>
    </form>
    <p><a href="{% url 'all_subjects' %}">Back to subjects page</a></p>
    <p><a href="{% url 'all_teachers' %}">Back to teachers page</a></p>
{% endblock %}