{% extends "base.html" %}

{% block title %}Teacher edit{% endblock %}

{% block content %}
    <h1>Edit teacher</h1>
    <form action="{% url 'edit_teacher' form.instance.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <p><input type="submit" name="edit" value="Save teacher"></p>
        <p><input type="submit" name="delete" value="Delete teacher"></p>
    </form>
    <p><a href="{% url 'create_subject' %}">Create new subject</a></p>
    <p><a href="{% url 'all_teachers' %}">Back to teachers page</a></p>
{% endblock %}