{% extends "base.html" %}

{% block title %}Group create{% endblock %}

{% block content %}
    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6">
        <h1>Add new group</h1>
        <form action="{% url 'create_group' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-group mb-3">
                    <label class="input-group-text" style="width: 100px;">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
            <input class="btn btn-outline-success" type="submit" value="Create group">
            <a class="btn btn-outline-secondary" href="{% url 'all_groups' %}" role="button">Back to group page</a>
        </form>
    </div>
{% endblock %}