<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Group edit</title>
</head>
<body>
    <div style="margin: 32px">
        <div>
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        </div>
        <h1>Edit group</h1>
        <form action="{% url 'edit_group' form.instance.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" name="edit" value="Save group"></p>
            <p><input type="submit" name="delete" value="Delete group"></p>
        </form>
        <p><a href="{% url 'all_groups' %}">Back to group page</a></p>
    </div>
</body>
</html>