<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subject create</title>
</head>
<body>
    <div style="margin: 32px">
        <div>
            {% if messages %}
                {% for message in messages %}
                    {{message}}
                {% endfor %}
            {% endif %}
        </div>
        <h1>Add new subject</h1>
        <form action="{% url 'create_subject' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Create subject"></p>
        </form>
        <p><a href="{% url 'all_subjects' %}">Back to subjects page</a></p>
        <p><a href="{% url 'all_teachers' %}">Back to teachers page</a></p>
    </div>
</body>
</html>