{% extends "base.html" %}

{% block title %}Student edit{% endblock %}

{% block content %}
    <div class="col-12 col-lg-10 col-xl-8 col-xxl-6" style="display: flex;">
        <div>
            <h1>Edit student</h1>
            <form action="{% url 'edit_student' form.instance.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group mb-3">
                        <label class="input-group-text" style="width: 100px;">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <input class="btn btn-outline-success" type="submit" name="edit" value="Save student">
                <input class="btn btn-outline-danger" type="submit" name="delete" value="Delete student">
                <a class="btn btn-outline-secondary" href="{% url 'all_students' %}" role="button">Back to students page</a>
            </form>
        </div>
        <div class="col-md-3" style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center;" >
            <img src="{{ photo.url }}" class="img-fluid rounded-start " alt="{{ student.first_name }}" style="margin-top: 55px; margin-left: 16px;">
        </div>
    </div>

{% endblock %}